<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Django Blog</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/5.0.0/normalize.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto+Mono|ZCOOL+QingKe+HuangYou" rel="stylesheet">
  </head>
  <body>
    <nav>
      <h1>django_blog</h1>
    {% if date %}
      <p>current date// <span> {{ date }} </span></p>
    {% endif %}
    {% if request.user.is_authenticated %}
      <p>
        <a href="{% url 'logout' %}">Logout</a>
        <a href="{% url 'create_post' %}">Create</a>
      </p>
    {% else %}
      <p><a href="{% url 'login' %}">Login</a></p>
    {% endif %}
    </nav>
    <main>
      {% block content %}
      {% endblock %}
    </main>
    <footer> © 2019 Sanchit Jain </footer>
  </body>
</html>
