{% extends 'base.html' %}
{% block content %}
    <div class='post'>
      <h2>{{ blog_post.title }}</h2>
      <p>by// <span>{{ blog_post.author }}</span> </p>
      <p class='content'>{{ blog_post.body }} </p>
      <p>posted on// <span>{{ blog_post.published_date }}</span> </p>
    </div>
    <div class="comments">
      <h2>Comments</h2>
      {% for comment in blog_com %}
        <ul>
          <li>
            <p>{{ comment.name }}//<span>{{ comment.created_at }}</span></p>
            <p class="box"> {{ comment.message }} </p>
          </li>
        </ul>
      {% endfor %}
    </div>
    <div>
      <form class="comment_form" action="{% url 'create_comment'%}" method="POST">
        {% csrf_token %}
        {{ comment_form.as_p}}
        <input type="submit" name="submit" value="Send">
      </form>
    </div>
{% endblock %}
