<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Django Blog</title>
  </head>
  <body>
    <h1>Welcome to the Django Blog (the D is Silent)</h1>
    <p>
      The current date is : {{ date }}
    </p>
    <h2>Articles</h2>
      {% for piece in article %}
        <ul>
          <li>
            <p>{{ piece.title }} | {{ piece.author }} </p>
            <p>{{ piece.body }} </p>
            <p>{{ piece.published_date }} </p>
          </li>
        </ul>
      {% endfor %}
  </body>
</html>
