html {
  background: url('https://images.pexels.com/photos/763097/pexels-photo-763097.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat center center fixed;
  background-size: cover;
}

nav {
  background-color: rgba(39,39,39,0.5);
  color: white;
  text-shadow: 3px 3px gray;
  margin: 0 auto;
  padding: 0.1em 0.5em;
  width: 100%;
}

nav h1 {
  font-family: 'Roboto Mono', monospace;
  text-transform: lowercase;
}

nav p {
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  /* color: white; */
  text-shadow: none;
}

span {
  color: mediumseagreen;
  font-weight: 100;
}

body {
  box-sizing: border-box;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  color: white;
}

main {
  grid-template-columns: 1fr 1fr 1fr;

}

.front {
  width: 33%;
  background-color: rgba(39,39,39,0.5);
  margin: 0.1em 0.5em;
}

.post {
  width: 66%;
  background-color: rgba(39,39,39,0.5);
  margin: 0.1em 0.5em;
}

.front h2, .post h2 {
  padding: 0 0.4em;
  padding-top: 0.1em;
  font-weight: 50;

}

.front a, .post a {
  color: mediumseagreen;
  font-weight: 100;
  text-decoration: none;
  list-style-type: none;
}

.post {
  padding: 0 0.4em;
  padding-bottom: 0.1em;
}

.content {
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
}

.box {
  list-style-type: disc;
}

.comments {
  background-color: rgba(39,39,39,0.5);
  padding: 0 0.8em;
  width: 66%;
}

.comment_form {
  padding: 5px;
  background-color: rgba(39,39,39,0.5);
  margin: 0.5em 0.5em;
  width: 66%;
}
footer {
  bottom: 0;
  background-color: rgba(39,39,39,0.5);
  color: white;
  font-weight: 300;
  text-align: center;
  padding: 5px;
  width: 100%;
}
